path = "/home/jorgehog/scratch/DATAPART11/SOS_growthspeed2";

L = 256;
W = 1;

alpha = 1.;
mu = 0.0;

pressureWall = 0;

E0dA = 0.1;
r0 = 2.0;
sigma0 = 1.0;

equilibriate = 1;
reset = 1;
nSamplesMuEq = 100;
nSamplesMu = 10000;

muShift = 0.;

nCycles = 1000000;
thermalization = 0;
nCyclesPerOutput = 1000;
storeIgnisData = 0;
ignisDataInterval = 1000;

repeater = 0;

#seedType:
#0 = from time
#1 = use specific seed
seedType = 0;
specificSeed = 1394447123;

